/* General */
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    background: white;
    overflow: hidden; /* Empêche le débordement de la page */
}

.container {
    display: flex;
    flex-grow: 1;
    height: 100%; /* Assure que le container prend toute la hauteur */
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #f1f1f1;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100%; /* Empêche la sidebar de déborder */
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.dropdown {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    font-size: 14px;
}

/* Main Content */
.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    color: #333;
    height: 100%; /* Assure que la section content occupe tout l'espace disponible */
    overflow: hidden; /* Empêche le débordement */
}

/* Main message before selecting a computer */
#main-message {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0;
}

/* Recording status */
#recordingStatus {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    color: #222;
    display: none;
}

/* Blinking animation for recording icon */
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

#recordingIcon {
    animation: blink 0.8s infinite;
}

/* Log Content */
.log-content {
    width: 80%;
    height: 70vh; /* Garde un espace spécifique pour les logs */
    overflow-y: auto;
    background: transparent;
    padding: 10px;
    color: #222;
    scrollbar-color: #ddd #ececec;
}

/* Search & Buttons */
.search-box-container {
    display: flex;
    width: 80%;
    padding: 10px;
    padding-bottom: 5%;
    border-top: 1px solid #ddd;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.search-box {
    width: 250px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}

/* Buttons */
.buttons {
    display: flex;
    gap: 10px;
}

.action-btn {
    padding: 10px 15px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.start-btn {
    background-color: red;
}

.stop-btn {
    background-color: black;
}

.hidden {
    display: none;
}

.action-btn:hover {
    opacity: 0.8;
}
